 .changepassword{
display: flex;
justify-content: center;
margin-top:10%; 
}
.change{
    background:url();
    background-size:cover; 
    background-repeat:no-repeat; 
    color:hwb(0 0% 99%);
    min-height: 100vh;

}
