 .changepassword{
display: flex;
justify-content: center;
margin-top:10%; 
}
.change{
    background:url(https://akm-img-a-in.tosshub.com/indiatoday/images/story/201908/Add_a_subheading_1_.png?bVJefMXVrdqgQ7AUqG1bCtt0f0K5BGM_&size=1200:675);
    background-size:cover; 
    background-repeat:no-repeat; 
    color:hwb(0 0% 99%);
    min-height: 100vh;

}
